.root {
  display: flex;
  align-items: center;
  color: #d1e8e2;
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.6)!important;
  border: 1px solid #D9B08C;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 2px;
}

.userName {
  font-weight: 500;
  font-size: 14px;
  color: #d1e8e2;
}

.userDetails {
  display: flex;
  flex-direction: column;
  color: #d1e8e2;
}

.additional {
  font-size: 12px;
  opacity: 0.3;
  color: #d1e8e2 !important;
}
