.root {
  display: flex;
  align-items: center;
  color: #d1e8e2;
  border-radius: 10px;
  background-color: #116466;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 10px;
}

.userName {
  font-weight: 500;
  font-size: 14px;
  color: #d1e8e2;
}

.userDetails {
  display: flex;
  flex-direction: column;
  color: #d1e8e2;
}

.additional {
  font-size: 12px;
  opacity: 0.6;
}
