.root {
  margin-bottom: 20px;
  color: #d1e8e2;
  border-radius: 10px;
  background-color: #116466;  
}

.title {
  padding: 15px 15px 0 15px;
  background-color: #116466;
  border-radius:10px;
  color: #d1e8e2;
  }
  .children{
    background-color: #116466;
    border-radius:10px;
    color: #d1e8e2;
  }
