.root {
  margin-bottom: 20px;
  color: #d1e8e2 !important;
  background-color: rgba(0, 0, 0, 0.6)!important;
}
.title {
  padding: 10px 10px 10px 10px;
  color: #d1e8e2;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6)!important;
  }
  .children{
    color: #d1e8e2 !important;
  }
