.root {
  margin-bottom: 20px;
  color: #d1e8e2;
  background-color: #2c3531;
}
.title {
  padding: 15px 15px 0 15px;
  background-color: #2c3531;
  color: #d1e8e2;
  }
  .children{
    background-color: #2c3531;
    color: #d1e8e2;
  }
