body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./wp/wp7.jpg'); /* Укажите путь к вашему изображению */
  background-size: cover; /* Изображение будет растягиваться на всю ширину и высоту экрана, сохраняя пропорции */
  background-repeat: no-repeat; /* Изображение не будет повторяться */
  background-position: center center; /* Изображение будет выровнено по центру */
  color: #d1e8e2;
  min-height: 100vh;
}